name: CI - Python app Yaman

on:
  push:
    branches: ["develop", "hotfix/*"]
  pull_request:
    branches: ["main"]

jobs:
  build-and-run:
    runs-on: ubuntu-latest # hosted-runner , estava lasted

    steps:
    - name: Checkout do Código
      uses: actions/checkout@v4

    - name: Confdigurar python
      uses: actions/setup-python@v5 # estava steup
      with:
        python-version: '3.10'
        
    - name: Testando variáveis secretas
      run: |
        echo "usuario: $DB_USER"
        echo "token: $TOKEN"
        echo "Password: $DB_PASSWORD"
      env:
        DB_USER: ${{ secrets.DB_USER }}
        TOKEN: ${{ secrets.TOKEN }} # espacamento e n minusculo
        DB_PASSWORD: ${{ secrets.DB_PASSWORD }}
    
    - name: Executar app.py
      run: python app.py
      env:
        APY_KEY: ${{ secrets.APY_KEY }}
