name: CI - Python app Yaman

on:
  workflow_dispatch: # rodar manualmente pelo actions
  push:
    branches: ["develop", "hotfix/*", "release/*"]
  pull_request:
    branches: ["main"]

jobs:
  build-and-run:
    runs-on: ubuntu-latest # hosted-runner 

    steps:
      - name: Checkout do Código
        uses: actions/checkout@v4

      - name: Configurar Python
        uses: actions/setup-python@v5 
        with:
          python-version: '3.10'
        
      - name: Testando variáveis secretas
        run: |
          echo "usuario: $DB_USER"
          echo "token: $TOKEN"
          echo "Password: $DB_PASSWORD"
        env:
          DB_USER: ${{ secrets.DB_USER }}
          TOKEN: ${{ secrets.TOKEN }} 
          DB_PASSWORD: ${{ secrets.DB_PASSWORD }}
    
      - name: Executar app.py
        run: python app.py
        env:
          APY_KEY: ${{ secrets.APY_KEY }}
  
  performance-test:
    # essa etapa roda após o build-and-run terminar corretamente
    needs: build-and-run
    runs-on: ubuntu-latest
    # Condicional: garante que performance só execute em push de develop/release/*
    if: |
      github.event_name == 'push' &&
      startsWith(github.ref, 'refs/heads/develop') ||
      startsWith(github.ref, 'refs/heads/release/')

    steps:
      - name: Checkout do código
        uses: actions/checkout@v4
      
      - name: Instalar Java, zip e baixar o JMeter
        run: |
          sudo apt-get update
          sudo apt-get install -y default-jre wget zip
          wget https://downloads.apache.org/jmeter/binaries/apache-jmeter-5.6.3.tgz -O jmeter.tgz
          tar -xzf jmeter.tgz
          mv apache-jmeter-5.6.3 jmeter

      - name: Dar permissão de execução ao script Bash
        run: chmod +x performance/scripts/run_site_yaman.sh

      - name: Executar script de performance (JMeter + relatório HTML + ZIP)
        run: ./performance/scripts/run_site_yaman.sh

      - name: Upload do resultado JMeter (.jtl e ZIP)
        uses: actions/upload-artifact@v4
        with:
          name: jmeter-results
          path: |
            performance/results/site_yaman_results.jtl
            performance/artifacts/site_yaman_report.zip
          # período de retenção do artifact em dias 
          retention-days: 7
  # ==========================================
  # Lint / checagem simples em paralelo
  #    - Demonstra paralelismo de jobs
  # ==========================================
  lint:
    needs: build-and-run # depende do build, mas roda em paralelo com o performance-test
    runs-on: ubuntu-latest

    steps:
      - name: Checkout do codigo em LINT
        uses: actions/checkout@v4
      
      - name: Configurar python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"
      
      - name: Instalar Flake8 (lint python)
        run: pip install flake8

      - name: rodar Flake8 no app.py
        run: flake8 app.py || true