name: CI - Python app Yaman

on:
  push:
    branches: [develop, hotfix/*]
  pull_request:
    branches: [main]

jobs:
  build-and-run:
    runs-on: ubuntu-lasted # hosted-runner

    steps:
    - name: Checkout do Código
      uses: actions/checkout@v4

    - name: Confdigurar python
      uses: actions/steup-python@v5
      with:
        python-version: '3.10'
        
    - name: Testando variáveis secretas
      run: |
        echo "usuario: $DB_USER"
        echo "token: $TOKEN"
        echo "Password: $DB_PASSWORD"
      env:
        DB_USER: ${{secrets.DB_USER}}
        TOKEN: ${{secrets.TOKEn}}
        DB_PASSWORD: ${{secrets.DB_PASSWORD}}
    
    - name: Executar app.py
      run: python app.py
      env:
        APY_KEY: ${{ secrets.APY_KEY }}
